.thumbnail img {
  max-height: 150px;
  background-color: azure;
  /* max-width: 500 px; */
}

.caption {
  background-image: linear-gradient(to bottom right,rgba(166,233,249,0.5), rgba(253,147,63,0.5));
  border-radius: 5px;
  border-color: blue;
  /* height: 500px; */
}
.thumbnail .description {
  color: black;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

body {
  font-family: 'Poppins';
  background-color: white;
}
